# General extensions to ignore
*.RData
*.rdb
*.rdx
*.DS_Store
.Rproj.user
.Rhistory
.Ruserdata
.Rapp.history
*.here
*.Rproj

# Notes cache
notes/*/slides_cache/*
problem-sets/*/solutions_cache*

# Temporary holds: Notes

# Temporary holds: Problem sets

# Final exam
